{% extends 'base.html' %}
{% block meta_tags %}
    {% include '_meta_tags.html' with meta_title='Статті' %}
{% endblock %}
{% block breadcrumbs %}
    {% include '_breadcrumbs.html' %}
{% endblock %}
{% load static %}
{% block content %}
    <h1>Статті</h1>
    <div class="row">
        {% for article in articles %}
            <div class="col-4 blog-item">
                <a href="{% url 'article_view' article_id=article.id category_id=article.category.id %}">
                    {% if article.image %}
                        <img class="img-thumbnail" src="{{ article.image_thumbnail.url }}" alt="">
                    {% else %}
                        <img class="img-thumbnail" src="{% static 'no-image.png' %}" alt="">
                    {% endif %}
                </a>
                <h4>
                    <a href="{% url 'article_view' article_id=article.id category_id=article.category.id %}">{{ article.title }}</a>
                </h4>
                <p>{{ article.text_preview }}</p>
                <hr>
                <p class="text-end"><i>{{ article.created_at }}</i></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}


