{% extends 'base.html' %}
{% block meta_tags %}
    {% include '_meta_tags.html' with meta_title=article.get_meta_title meta_description=article.meta_description meta_keywords=article.meta_keywords %}
{% endblock %}
{% block breadcrumbs %}
    {% include '_breadcrumbs.html' %}
{% endblock %}
{% block content %}
    <h1>{{ article.title }}</h1>
    <p class="text-center">
    {% if article.image %}
        <img class="img-thumbnail" width="300" src="{{ article.image.url }}" alt="">
    {% endif %}</p>
    <br>
    <br>
    <p>{{ article.text|safe }}</p>
    <p>
        {% for tag in article.tags.all %}
            <a href="{% url 'tag_list' tag_id=tag.id %}">#{{ tag.name }}</a>
        {% endfor %}

    </p>
    {% if article.user %}
        <div class="text-right">
            <div class="author">
                {% if article.user.image %}
                    <span class="avatar">
                        <img src="{{ article.user.image_thumbnail.url }}" alt="">
                    </span>
                {% endif %}
                <span class="author-name">{{ article.user.first_name }} {{ article.user.last_name }}</span>
            </div>
        </div>
    {% endif %}
    <br>
    <p>
        <b>Дата</b>: {{ article.created_at }} <br>
        <b>Категория</b>: {{ category.name }} <br>
    </p>
{% endblock %}