{% extends 'base.html' %}
{% block content %}
    <h1>{{ article.title }}</h1>
    {% if article.image %}
        <img class="img-thumbnail" src="{{ article.image.url }}" alt="">
    {% endif %}
    <p>{{ article.text }}</p>
    <p>
        {% for tag in article.tags.all %}
            <a href="{% url 'tag_list' tag_id=tag.id %}">#{{ tag.name }}</a>
        {% endfor %}

    </p>
    <hr>
    <p>
        {% if article.user %}
            <b>Автор</b>:
            {% if user.image %}
                <img class="img-thumbnail" src="{{ article.user.image_thumbnail.url }}" alt="">
            {% endif %}
            <b>{{ user.first_name }}</b>
            <b>{{ user.last_name }}</b>
        {% endif %} <br>
        <b>Дата</b>: {{ article.created_at }} <br>
        <b>Категорія</b>: {{ category.name }} <br>
    </p>
{% endblock %}
