#logo{
    max-width: 150px;
}
body{
    background: cornflowerblue;
}
.blog-item{
    margin-bottom: 30px;
}
.blog-item h4{
    text-align: center;
}
.blog-item h4 a{
    text-decoration: none;
}
.blog-item img, .blog-item h4 a{
    transition: all .15s linear;
}
.blog-item:hover img{
    transform: scale(1.03, 1.03);
}
.blog-item:hover h4 a{
    top: 3px;
    color: darkred;
}
.author{
    height: 50px;
    padding: 15px 0;
    display: inline-block;
    width: auto;
}
.author span{
    float: left;
}
.avatar{
    width: 50px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}
.avatar img{
    width: 100%;
}
.author-name{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
}
.my-header{
    padding: 15px 0;
}

.product{
    box-shadow: 0 0 4px #ccc;
    transition: all .15s linear;
}

.product > a{
    display: block;
    text-decoration: none;
}
.product img{
    width: 100%;
}
.product .product-name{
    text-align: center;
    color: #000;
    font-size: 18px;
    padding: 0 15px 15px;
}
.product-price{
    text-align: center;
    display: block;
    padding: 15px;
    font-size: 30px;
}
.product:hover{
    transform: scale(1.03, 1.03);
}
.product:hover .product-name{
    color: darkred;
}
.product-image{
    display: block;
    margin: 0 0 15px;
}