{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    {% block meta_tags %}
        <title>ТОВ "Altenergo"</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
    {% endblock %}
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'lightbox/css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel2/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel2/assets/owl.theme.default.min.css' %}">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="{% static 'lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'owlcarousel2/owl.carousel.min.js' %}"></script>
</head>
<body>

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <br>
                <a href="{% url 'home' %}">
                    <img src="{{ SETTINGS.logo.url }}" alt="Altenergo" title="Altenergo" id="logo">
                </a>
            </div>
            <div class="col-6">
                <br>
                <p class="text-info text-end">ТОВ "Altenergo"</p>
                <br>
{#                <span style="font-family: 'Times New Roman';"><p style="color: red" class="text-end">Працюємо кожного дня з 10.00 до 18.00</p></span>#}
{#                <span style="font-family: 'Times New Roman';"><font color="#7fff00"><p#}
{#                        class="text-end">Контактні данні:</p></font></span>#}
{#                <span style="font-family: 'Times New Roman';"><font color="#7fff00"><p#}
{#                        class="text-end">+380674893800</p></font></span>#}
{#                {% if request.user.is_authenticated %}#}
{#                    <p class="text-end">Привіт {{ request.user.username }} (<a href="{% url 'logout' %}">Вийти</a>)</p>#}
{#                {% else %}#}
{#                    <p class="text-end"><a href="{% url 'login' %}?next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.path }}{% endif %}">Увійти</a>#}
{#                        или <a href="{% url 'register' %}?next={{ request.path }}">Зареєструватись</a></p>#}
{#                {% endif %}#}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Головна</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog_category_list' %}">Блог</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'catalog' %}">Каталог</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'page' slug='about' %}">Про нас</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'page' slug='payment-and-shipping' %}">Оплата і доставка</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'page' slug='contacts' %}">Контакти</a>
                            </li>
                        </ul>
                    <div class="flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if request.user.is_authenticated %}
                                <li class="nav-item">
                                            <a class="nav-link text-primary" aria-current="page" href="{% url 'cart_view' %}"><b>Кошик</b></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    {% block breadcrumbs %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <br>
                <hr>
            </div>
            <div class="col">
                <p class="text-center text-info">{{ SETTINGS.footer_text }}</p>
            </div>
        </div>
    </div>
</footer>


</body>
</html>