{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    {% block meta_tags %}
        <title>ТОВ "Altenergo"</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
    {% endblock %}
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'lightbox/css/lightbox.min.css' %}">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="{% static 'lightbox/js/lightbox.min.js' %}"></script>
</head>
<body>

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <br>
                <a href="{% url 'home' %}">
                    <img src="{% static 'altenegro logo.png' %}" alt="Altenergo" title="Altenergo" id="logo">
                </a>
            </div>
            <div class="col-6">
                <br>
                <p class="text-info text-end">ТОВ "Altenergo"</p>
                <br>
                <span style="font-family: 'Times New Roman';"><font color="#7fff00"><p class="text-end">Працюємо кожного дня з 10.00 до 18.00</p></font></span>
                <span style="font-family: 'Times New Roman';"><font color="#7fff00"><p
                        class="text-end">Контактні данні:</p></font></span>
                <span style="font-family: 'Times New Roman';"><font color="#7fff00"><p
                        class="text-end">+380674893800</p></font></span>
                {% if request.user.is_authenticated %}
                    <p class="text-end">Привет {{ request.user.username }} (<a href="{% url 'logout' %}">Выйти</a>)</p>
                {% else %}
                    <p class="text-end"><a href="{% url 'login' %}?next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.path }}{% endif %}">Войти</a>
                        или <a href="{% url 'register' %}?next={{ request.path }}">Зарегистрироваться</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Головна</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog_category_list' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-book" viewBox="0 0 16 16">
                                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"></path>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'catalog' %}">Каталог</a>
                            </li>
                        </ul>
                    <div class="flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if request.user.is_authenticated %}
                                <li class="nav-item">
                                            <a class="nav-link text-primary" aria-current="page" href="{% url 'cart_view' %}"><b>Корзина</b></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    {% block breadcrumbs %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <br>
                <hr>
            </div>
            <div class="col">
                <p class="text-center text-info">Все права защищены, правда неизвестно кем)</p>
            </div>
        </div>
    </div>
</footer>


</body>
</html>